*{
    box-sizing: border-box;
}

.img-2-inner img{
  max-width: 100%;
}
.light-box-content-img img{

    max-width: 100%;
}

.light-box {
    padding-bottom: 50px;
}


.shadowed {
    -moz-box-shadow:0px 0px 5px #444444;
    -webkit-box-shadow:0px 0px 5px #444444;
    box-shadow:0px 0px 5px #444444;
  }
  
  .video-container-wrapper {
    width: 100%;
    height: 100%;
    background: rgba(37,37,37,.7);
    text-align: center;
    position: fixed;
    top:0; left: 0;
    z-index:50;
    display: none;
    opacity: 0;
  }
  .video-container-wrapper:before {
    content: ' ';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  .sizewrapper {
    width: 50%;
    /* Would normally be 1920px, limited because codepen's screen is small */
    max-width: 920px;
    vertical-align: middle;
    position: relative;
    background: rgba(255,255,255,0);
    z-index:51;
    display:none;
  }
  
  #videowrapper {
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
  }
  #videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .close {
    position: absolute;
    right: -42px; top: 0;
    color: #fff;
    cursor:pointer;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    background-color: orange;
    width: 32px; height: 32px;
  }
  
  .go-to-yt {
    padding: 16px;
    margin: 8px 0 0;
    float: right;
    text-align: right;
    background-color: #fff;
    display: inline-block;
  }
  .go-to-yt a {
    text-decoration: none;
  }